.yellow {
    color: #341e21;
    opacity: 0.9;
}

#s2 {
    position: relative;
    z-index: 100;
    margin: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 0;
    padding-top: 150px;
    padding-bottom: 150px;
}

h3 {
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7vw;
    letter-spacing: 0.05em;
    text-align: center;
    line-height: 1.4;
    text-transform: uppercase;
    color: #60605f;
}

#s2 h3 {
    max-width: 600px;
    text-align: center;
}

#s2 h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #60605f;
    letter-spacing: .05em;
    margin-top: 2em;
}

@media screen and (max-width:414px) {

    #s2 {
        padding: 20px 15px 20px 15px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
        padding-bottom: 5px;
        font-size: 4vw;
        letter-spacing: 0.05em;
        line-height: 1.5;
        text-align: center;
        line-height: 1.4;
        text-transform: uppercase;
        color: #575756;
    }

    #s2 h5 {

        font-size: 0.7rem;
        margin-top: 1em;
    }
}

@media screen and (max-width:768px) {
    h3 {
        font-family: 'Roboto', sans-serif;
        padding-bottom: 5px;
        font-size: 2.3vw;
        letter-spacing: 0.05em;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        color: #575756;
    }

    #s2 h5 {
        font-size: 1.8vw;
        margin-top: 1em;
    }


}

@media screen and (max-width:1024px) {
    h3 {
        font-size: 3vw;
    }

    #s2 h5 {
        font-size: 2vw;
        margin-top: 0.8em;
    }
}
}
